a {
    text-decoration: none;
    color: var(--text);
    letter-spacing: 4px;
    text-transform: uppercase;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    backdrop-filter: brightness(90%) blur(100px);
    width: 100%;
    padding: .5rem 0;
    justify-content: space-between;
    box-shadow: var(--s-shad);
}

.navigation-brand {
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.navigation-menu {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: all .7s ease;
}

    .navigation-menu span {
        background: var(--secondary);
        width: 100%;
        height: 2px;
        position: absolute;
    }

    .navigation-menu span:first-of-type {
        top: 10%;
    }

    .navigation-menu span:nth-of-type(2), .navigation-menu span:nth-of-type(3) {
        top: 50%;
        transform: translateY(-50%);
    }

    .navigation-menu span:last-of-type {
        bottom: 10%;
    }

    .navigation-menu.active span:last-of-type, .navigation-menu.active span:first-of-type {
        opacity: 0;
    }

    .navigation-menu.active span:nth-of-type(2) {
        rotate: 45deg;
    }

    .navigation-menu.active span:nth-of-type(3) {
        rotate: -45deg;
    }

.navigation-page {
    position: absolute;
    width: 100%;
    box-shadow: 0 0 20px red;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    transition: all .7s ease;
    backdrop-filter: blur(100px);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.collapse {
    transform: translateY(-450px);
}

.nav-item {
    font-size: 1.1rem;
}

    .nav-item ::deep a {
        color: #d7d7d7;
        padding: .5rem;
        display: flex;
        transition: all .3s ease, padding 1s cubic-bezier(0.68, -0.55, 0.265, 1.75);
    }

    .nav-item ::deep a.active {
        background-color: #ffffffc7;
        color: var(--secondary);
    }

    .nav-item ::deep a:hover {
        background-color: #ffffff5b;
        color: white;
    }

.stand-alone {
    display: none;
}

@media (min-width: 831px) {
    .navigation-bar {
        backdrop-filter: none;
	flex-direction: row;
	box-shadow: none;
    }

    .navigation-brand {
        backdrop-filter: blur(100px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5rem 1rem;
        margin-left: 10px;
        border-radius: 2rem;
        box-shadow: var(--l-shad);
    }

    .navigation-menu {
        display: none;
    }

    .navigation-page {
        margin: auto;
	width: fit-content;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: .5rem;
	border-radius: 2rem;
	background: var(--secondary);
        box-shadow: var(--b-shad);
	left: 50%;
	transform: translateX(-50%);
    }

    .nav-item {
	font-size: .9rem;
	text-transform: none;
	letter-spacing: 0;
    }

    .nav-item ::deep a, .stand-alone ::deep a {
        color: var(--secondary-2);
	border-radius: 2rem;
	padding: .2rem 1rem;
    }

    .nav-item ::deep a.active, .stand-alone ::deep a.active {
        background: var(--secondary-2);
        color: var(--text);
        padding: .2rem 2rem;
        box-shadow: 0 0 15px var(--text-2);
    }
}