<div class="navigation-bar">
    <div class="navigation-brand">
        <a href="">House 27 Homes</a>
        <div class="navigation-menu @NavMenuActive" @onclick="ToggleNavMenu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navigation-pages @NavMenuCssClass" @onclick="ToggleNavMenu">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class= "nav-link" href="counter">
                Properties
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="weather">
                About
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="weather">
                Blog
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="weather">
                Contact
            </NavLink>
        </div>
    </div>
        
    <div class="stand-alone">
        <div class="nav-item">
            <NavLink class="nav-link" href="weather">
                Contact
            </NavLink>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool foldNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "null" : null;

    private string? NavMenuActive => foldNavMenu ? null : "active";

    private void ToggleNavMenu()
    {
        foldNavMenu = !foldNavMenu;

        collapseNavMenu = !collapseNavMenu;
    }
}