.item-card[b-gma8v21nni] {
    width: 95%;
    border-radius: 2rem;
    overflow: hidden;
    scroll-snap-align: center;
    flex-shrink: 0;
    margin: var(--space-2) auto;
    background: var(--secondary-2);
    box-shadow: var(--l-shad);
}
    @media (min-width: 841px) {
        .item-card[b-gma8v21nni] {
            width: 32%;
            height: fit-content;
        }
    }

.item-image[b-gma8v21nni] {
    height: 20rem;
    width: 100%;
    background: lightgray;
}

.item-description[b-gma8v21nni] {
    height: fit-content;
    width: 90%;
    margin: .5rem auto;
}

.item-name h2[b-gma8v21nni] {
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: capitalize;
    color: var(--text);
}

.item-rating[b-gma8v21nni] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.price[b-gma8v21nni] { margin-right: 1rem; }

.review[b-gma8v21nni] { display: flex; flex-direction: column; justify-content: center; }

.price p strong[b-gma8v21nni] {
    font-size: 1.2rem;
    color: var(--secondary);
}