<div class="@CssClass">
    <h2>Interior</h2>
    <p>Sorted by only the best interior decorations and lightings you'll ever find in any luxury home</p>
</div>

<div class="@CssClass">
    <h2>Outdoor</h2>
    <p>We bring you carefully crafted outdoor designs and recreational equipment from pools to balcony rocking chairs</p>
</div>

<div class="@CssClass">
    <h2>Finishings</h2>
    <p>From roofing to painting, this category has got everything covered, all you need to style up your dream home has been sorted and filtered here </p>
</div>

@code {
    private string? CssClass = "content-card";
}