<div class="image float-hover">
    <div class="description px-3">
        <p>@Cards.Category</p> 
        <h2>@Cards.Name</h2>
        <p>@Cards.Description</p>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public DisplayCard Cards { get; set; } = default!;
}