<div class="item-card gray-background">
    <div class="item-image"></div>
    <div class="item-description">
        <div class="item-name">
            <h2>@Items.Name</h2>
        </div>
        <div class="item-rating">
            <div class="price">
                <p><strong>@Items.Price k</strong></p>
            </div>

            <div class="review">&starf; @Items.Rating</div>
        </div>
        
	    <button class="wide-button" @onclick="@(async () => await OnSelectedItem.InvokeAsync(Items))">
            Place an order
        </button>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public NewArrivals Items { get; set; } = default!;

    [Parameter]
    public EventCallback<NewArrivals> OnSelectedItem { get; set; }
}