<div class="property-card">
    <div class="image">
        <button class="like"></button>
    </div>
    <div class="description">
        <div class="property-name">
            <h2>modern studio apartment in wuse 2</h2>
        </div>

        <div class="property-location">
            <p>&blacktriangledown; abuja, federal capital ...</p>
        </div>

        <div class="property-rating">
            <div class="price">
                <p><strong>75k</strong>/night</p>
            </div>
            
            <div class="review">&starf; 5.0</div>
        </div>
    </div>
</div>