<div class="drawer-mask @(_open ? "open" : "")">
    <div class="drawer">
        <div class="property-card">
            <div class="image"></div>
            <div class="description">
                <div class="property-name">
                    <h2>modern studio apartment in wuse 2</h2>
                </div>
                
                <div class="property-location">
                    <p>abuja, federal capital...</p>
                </div>

                <div class="property-location">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dignissimos labore in repellat quod officia ex molestiae consectetur quo ipsam similique, ullam debitis cum qui dolorem facere obcaecati placeat voluptas autem nobis modi fuga distinctio? Esse quas obcaecati odio. Pariatur fugit asperiores magni veritatis, porro voluptatibus quae fugiat suscipit aperiam.</p>
                </div>

                <div class="property-location">
                    <p>
                        Number Of Rooms: <strong>4</strong>
                    </p>
                </div>

                <div class="property-rating">
                    <div class="digits">
                        <p><strong>75 k</strong>/night</p>
                    </div>

                    <div class="digits">
                        <div class="digits">&starf; 5</div>
                    </div>
                </div>

                <div class="property-rating">
                    <button class="wide-button" @onclick="Active">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private bool _open = true;

    private void Active()
    {
        _open = !_open;
    }
}