<div class="property-card">
    <div class="image">
        <button class="like"></button>
    </div>
    <div class="description">
        <div class="property-name">
            <h2>@Property.Name</h2>
        </div>

        <div class="property-location">
            <p>@Property.Location</p>
        </div>

        <div class="property-rating">
            <div class="price">
                <p><strong>@Property.Price k</strong>/night</p>
            </div>
            
            <div class="review">&starf; @Property.Review</div>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Properties Property { get; set; } = default!;
}