.drawer-mask {
    background: transparent;
    backdrop-filter: blur(2px) brightness(40%);
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.drawer-mask.open {
    opacity: 1;
    visibility: visible;
}

.drawer {
    position: inherit;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(110%);
    transition: .3s ease;
}

.drawer-mask.open > .drawer {
    transform: translateX(0);
}

.property-card {
    background: var(--primary);
    box-shadow: var(--l-shad);
    border-radius: var(--space);
    overflow: hidden;
    scroll-snap-align: center;
    margin: 0 var(--space-2);
    height: 100%;
    width: 80vw;
    max-width: 800px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image {
    height: 150px;
    margin-bottom: .5rem;
    background: lightgray;
    position: relative;
}

.like {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: var(--text);
    box-shadow: var(--l-shadow);
    position: absolute;
    top: 20px;
    left: 20px;
}

.property-name, .property-location, .property-rating { margin: 1rem auto; width: 90%; }
.property-rating { margin: 1rem auto; }

.property-name h2 {
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.property-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.digits {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.price p strong {
    font-size: 1.2rem;
    color: var(--secondary);
}

@media (min-width: 800px) {
    .image {
	    height: 200px;
    }
}