@inject NavigationManager NavManager

<p class="mt-4">
    <input @onkeydown="SearchForProperty" 
            @bind="_searchTerm" 
            @bind:event="oninput" 
            type="text" 
            placeholder="Search for a property" class="form-control" />
</p>

@code {
    private string _searchTerm = "";

    private void SearchForProperty(KeyboardEventArgs args)
    {
        if (args.Key != "Enter") return;
        NavManager.NavigateTo(uri: $"/search/{_searchTerm}");
    }
}