.property-card {
    background: var(--primary);
    box-shadow: var(--l-shad);
    border-radius: var(--space);
    overflow: hidden;
    scroll-snap-align: center;
    margin: 0 var(--space-2);
    height: fit-content;
    width: 70vw;
    max-width: 400px;
    flex-shrink: 0;
}

.image {
    min-height: 150px;
    margin-bottom: .5rem;
    background: lightgray;
    position: relative;
}

.image > img {
    width: 100%;
}

@media (min-width: 800px) {
    .image {
	    min-height: 200px;
    }
}

.property-card:hover > .image > img {
    scale: 1.1;
}

.like {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: var(--text);
    box-shadow: var(--l-shadow);
    position: absolute;
    top: 20px;
    left: 20px;
}

.property-name, .property-location, .property-rating { margin: 1rem auto; width: 90%; }
.property-rating { margin: 1rem auto; }

.property-name h2 {
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.property-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.digits {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.price p strong {
    font-size: 1.2rem;
    color: var(--secondary);
}