@using house27homes.Pages
@inject NavigationManager NavManager

<div class="filters">
    <label for="maxPrice">Max Price</label>
    <input id="maxPrice" 
            type="number" 
            class="form-control" 
            @bind="_maxPrice" />
    <input id="maxRoom" 
            type="number"
            class="form-control" 
            @bind="_maxRoom" />

    <button class="btn btn-outline-primary" @onclick="FilterSearchResults">
        Filter
    </button>
    <button class="btn btn-outline-secondary" @onclick="ClearSearchFilter">
        Clear
    </button>
</div>

@code {
    private int _maxPrice;
    private int _maxRoom;

    [Parameter, EditorRequired]
    public string SearchTerm { get; set; } = default!;

    private void FilterSearchResults()
    {
        var uriWithQueryString = NavManager.GetUriWithQueryParameters(new Dictionary<string, object?>()
            {
                [nameof(SearchPage.MaxPrice)] = _maxPrice == 0 ? null : _maxPrice,
                [nameof(SearchPage.MaxRoom)] = _maxRoom == 0 ? null : _maxRoom
            });

        NavManager.NavigateTo(uriWithQueryString);
    }
    
    private void ClearSearchFilter()
    {
        _maxPrice = 0;
        _maxRoom = 0;
        NavManager.NavigateTo(uri: $"/search/${SearchTerm}");
    }
}