@page "/"
@inject HttpClient Http

<PageTitle>Home - House27</PageTitle>

<section class="hero-section">
    <div class="overlay"></div>
    <div class="title-section">
        <h1>
            Your dream home <em>is</em> within reach
        </h1> <br>
        <p class="px-5 py-4">
            Find the space your soul recognizes with expertly curated properties, trusted local agents, and a seamless experience. <br> <i>Let us guide you home.</i>
        </p>
        <div class="btn-area">
            <button>Learn More</button>
        </div>
    </div>
</section>

<section class="bg">
    <section class="flex-container">
        @if (_properties is null)
        {
            <p>Loading properties...</p>
        }
        else
        {
            <PropertyDetail Details="_selectedProperty" OnSelected="HandlePropertySelected" />
            @foreach (var property in _properties)
            {
                <PropertyCard Property="property" />
            }
        }
    </section>
    <section class="image-grid">
        <div class="grid-title">
            <h2>Start with what you need</h2>
        </div>
        @if (_needs is null)
        {
            <p>Loading assets...</p>
        }
        else
        {
            <div class="grid-container">
                @foreach (var cards in _needs)
                {
                    <ImageCard Cards="cards" />
                }
            </div>
        }
    </section>
</section>

<div class="auto-flex auto-scroll">
    @if (_items is null)
    {
        <p>Loading items...</p>
    }
    else
    {
        @foreach (var items in _items)
        {
            <ItemCard Items="items" />
        }
    }
</div>

<div class="grid-container my-5">
    <ContentCard />
</div>

@code {
    private IEnumerable<Properties>? _properties;
    private Properties? _selectedProperty;
    private void HandlePropertySelected(Properties property)
    {
        _selectedProperty = property;
    }

    private IEnumerable<DisplayCard>? _needs;

    private IEnumerable<NewArrivals>? _items;

    protected override async Task OnInitializedAsync()
    {
        _properties = await Http.GetFromJsonAsync<IEnumerable<Properties>>("sample-data/properties.json");

        _needs = await Http.GetFromJsonAsync<IEnumerable<DisplayCard>>("sample-data/needs.json");

        _items = await Http.GetFromJsonAsync<IEnumerable<NewArrivals>>("sample-data/items.json");
    }
}