.hero-section {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    position: relative;
    background: url(assets/img/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.title-section {
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem 0;
    text-align: center;
    text-shadow: var(--l-shad);
    width: fit-content;
}

.title-section h1 { color: var(--primary); outline: none; }
.title-section h1, .title-section p { margin: auto; }

@media (min-width: 841px) {
    .title-section {
        width: 90%;
        height: 70%; 
        position: relative; 
    }

   .title-section h1 { 
        position: absolute; 
        width: fit-content; 
        top: 5%; left: 5%; 
    }

    .title-section p { 
        position: absolute; 
        width: 40%; 
        background: var(--secondary); 
        box-shadow: var(--b-shad); 
        color: var(--text-2); 
        border-radius: var(--space); 
        bottom: 25%; 
        right: 5%; 
    }
    .title-section button { 
        position: absolute; 
        margin: 7% 0 0 auto; 
        font-size: 1.1rem; 
        top: 5%; 
        left: 5%; 
    }
}

.title-section em {
    background: var(--brand);
    color: var(--primary);
    padding: var(--space-2);
    border-radius: var(--space-2);
    box-shadow: var(--l-shad);
}

.overlay {
    position: absolute;
    background: #ffffff59;
    height: 100%;
    z-index: 0;
}

.btn-area {
    width: 100%;
}

@media (min-width: 641px) {
    .hero-section {
        min-height: 600px;
    }
}