.hero-section {
    display: flex;
    margin: 0;
    padding: 0;
    height: 90vh;
    justify-content: center;
    position: relative;
}

.title-section {
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    text-shadow: var(--l-shad);
}

.title-section em {
    background: var(--brand);
    color: var(--primary);
    padding: var(--space-2);
    border-radius: var(--space-2);
    box-shadow: var(--l-shad);
}

.overlay {
    position: absolute;
    background: #ffffff59;
    height: 100%;
    z-index: 0;
}

.btn-area {
    width: 100%;
    margin: var(--space) auto;
    padding: var(--space);
}

@media (min-width: 641px) {
    .hero-section {
        height: 80vh;
    }
}
