@page "/"

<PageTitle>Home - House27</PageTitle>

<section class="hero-section">
    <div class="overlay"></div>
    <div class="title-section">
        <h1>
            Your dream home <em>is</em> within reach
        </h1> <br>
        <p class="px-4 py-4">
            Find the space your soul recognizes with expertly curated properties, trusted local agents, and a seamless experience. <i>Let us guide you home.</i>
        </p>
        <div class="btn-area">
            <button>Discover More</button>
        </div>
    </div>
</section>

<section class="flex-container">
    <PropertyCard />
    <PropertyCard />
    <PropertyCard />
    <PropertyCard />
    <PropertyCard />
    <PropertyCard />
    <PropertyCard />
    <PropertyCard />
</section>
