@page "/properties"
@inject HttpClient Http

<PageTitle>Properties - House27</PageTitle>

<section class="bg">
    <section class="flex-container">
        @if (_properties == null)
        {
            <h2>Loading Properties</h2>
        }
        else
        {
            <PropertyDetail Properties="_selectedProperty" />
            @foreach (var items in _properties)
            {
                <PropertyCard Property="items" OnSelectedProperty="HandlePropertySelected" />
            }
        }
    </section>
    <section class="image-grid">
        <div class="grid-title">
            <h2>Start with what you need</h2>
        </div>
        @if (_needs is null)
        {
            <p>Loading assets...</p>
        }
        else
        {
            <div class="grid-container">
                @foreach (var items in _needs)
                {
                    <ImageCard Cards="items" />
                }
            </div>
        }
    </section>
</section>

<div class="auto-flex auto-scroll wrap bg-white">
    @if (_items is null)
    {
        <p>Loading items...</p>
    }
    else
    {
        @foreach (var items in _items)
        {
            <ItemCard Items="items" />
        }
    }
</div>

<div class="grid-container my-5">
    <ContentCard />
</div>

@code {
    private IEnumerable<Properties>? _properties;
        private Properties? _selectedProperty;
        private void HandlePropertySelected(Properties property) => _selectedProperty = property;
    
    private IEnumerable<DisplayCard>? _needs;

    private IEnumerable<NewArrivals>? _items;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _properties = await Http.GetFromJsonAsync<IEnumerable<Properties>>(requestUri: "sample-data/properties.json");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine(value: $"There was a a problem loading properties:{ex.Message}");
        }

        try
        {
            _needs = await Http.GetFromJsonAsync<IEnumerable<DisplayCard>>(requestUri: "sample-data/needs.json");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine(value: $"There was a problem loading assets:{ex.Message}");
        }

        try
        {
            _items = await Http.GetFromJsonAsync<IEnumerable<NewArrivals>>(requestUri: "sample-data/items.json");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine(value: $"There was a problem loading items:{ex.Message}");
        }
    }
}