@page "/search/{SearchTerm}"
@page "/search/{SearchTerm}/maxLength/{MaxLength:int}"
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Search - House 27</PageTitle>

<section class="bg pt-5 mt-5">
    <nav aria-label="breadcrumb" class="m-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Search</li>
        </ol>
    </nav>

    <h2 class="m-4">Search Results for "@SearchTerm"</h2>

    <section class="flex-container">
        @if (_searchResults == null)
        {
            <h2>Loading Search Results...</h2>
        }
        else
        {
            <PropertyDetail Properties="_selectedProperty" />
            @foreach (var items in _searchResults)
            {
                <PropertyCard Property="items" OnSelectedProperty="HandlePropertySelected" />
            }
        }
    </section>
</section>

@code {
    private IEnumerable<Properties>? _searchResults;
        private Properties? _selectedProperty;
    [Parameter] public string SearchTerm { get; set; } = default!;

    [Parameter] public int? MaxLength { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var allProperties = await Http.GetFromJsonAsync<IEnumerable<Properties>>("sample-data/properties.json");
            
            _searchResults = allProperties!.Where(x => x.Name.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) || x.Location.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase));
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine(value: $"There was a problem loading property data: {ex.Message}");
        }
    }

    private void HandlePropertySelected(Properties property) => _selectedProperty = property;
}